@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  padding: 1.975rem;
}
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2.25rem;
}
.header__nav-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.625rem;
  background-color: hsl(0, 0%, 98%);
  padding: 2.5rem 1.5rem;
  right: 0;
  left: 0;
  top: 50px;
  translate: 0 -100%;
  visibility: hidden;
  transition: translate 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.header__nav-list.active {
  translate: 0 0;
  visibility: visible;
}
.header__nav-link {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}
.header__nav-toggle {
  cursor: pointer;
}
.header__nav-btn {
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.975rem;
  margin-block-end: 3.5rem;
}
.hero__analytics-img {
  width: 100%;
}
.hero__text {
  text-align: center;
}
.hero__text-title {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  margin-block-end: 0.975rem;
}
.hero__text-description {
  color: hsl(240, 8%, 78%);
  margin-block-end: 1.25rem;
  line-height: 1.5;
}
.hero__text-btn {
  padding: 0.975rem 1.75rem;
  border: none;
  outline: none;
  border-radius: 1.925rem;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0.75rem 0.75rem -0.375rem rgba(95.08%, 37.352%, 22.92%, 0.5);
  transition: background-color 0.3s ease-in-out;
}
.hero__text-btn:hover {
  background-color: hsl(12, 87%, 69%);
}

.main__about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.275rem;
  margin-block-end: 3.5rem;
}
.main__about-text {
  text-align: center;
  margin-block-end: 2rem;
  padding: 1.975rem;
}
.main__about-text-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(228, 39%, 23%);
  margin-block-end: 1.125rem;
}
.main__about-text-description {
  color: hsl(240, 8%, 78%);
  line-height: 1.75;
}
.main__about-services {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.main__about-service {
  padding-inline-start: 0.625rem;
  margin-block-end: 0.975rem;
}
.main__about-service-title {
  font-size: 0.9375rem;
  margin-block-end: 0.975rem;
  color: hsl(228, 39%, 23%);
  background-color: hsl(13, 100%, 96%);
  border-top-left-radius: 1.925rem;
  border-bottom-left-radius: 1.925rem;
}
.main__about-service-title-btn {
  padding: 0.625rem 1.275rem;
  border: none;
  outline: none;
  border-radius: 1.925rem;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0.75rem 0.75rem -0.375rem rgba(95.08%, 37.352%, 22.92%, 0.5);
  transition: background-color 0.3s ease-in-out;
}
.main__about-service-title-btn:hover {
  background-color: hsl(12, 87%, 69%);
}
.main__about-service-title-btn {
  display: inline-block;
}
.main__about-service-title-text {
  display: inline-block;
  margin-inline-start: 0.625rem;
}
.main__about-service-description {
  padding-inline: 0.625rem;
  color: hsl(240, 8%, 78%);
  line-height: 2;
  font-size: 0.9375rem;
}

.main__testimonials {
  padding: 1.975rem;
  margin-block-end: 3.75rem;
}
.main__testimonials-title {
  color: hsl(228, 39%, 23%);
  font-size: 1.75rem;
  text-align: center;
  margin-block-end: 4.75rem;
}
.main__testimonial {
  position: relative;
  margin-block-end: 2.5rem;
  background-color: hsl(0, 0%, 98%);
  padding: 0.975rem;
}
.main__testimonial-img {
  width: 50px;
  position: absolute;
  top: -20px;
  left: 50%;
  translate: -50%;
}
.main__testimonial-name, .main__testimonial-description {
  text-align: center;
}
.main__testimonial-name {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  margin-block: 2.5rem 1.875rem;
}
.main__testimonial-description {
  color: hsl(240, 8%, 78%);
  line-height: 1.5;
}
.main__testimonial-btn {
  padding: 0.975rem 1.75rem;
  border: none;
  outline: none;
  border-radius: 1.925rem;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0.75rem 0.75rem -0.375rem rgba(95.08%, 37.352%, 22.92%, 0.5);
  transition: background-color 0.3s ease-in-out;
}
.main__testimonial-btn:hover {
  background-color: hsl(12, 87%, 69%);
}
.main__testimonial-btn {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
