@use "../abstracts";

.footer {
  background-color: abstracts.$gray-950;
  padding: 1.975rem;
  display: grid;
  gap: 3.5rem;

  &__data {
    display: flex;
    flex-direction: column-reverse;
    gap: 3.75rem;
  }

  &__socials {
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5rem;

    &-img {
      display: block;
      margin: 1.75rem auto 0.975rem;
      filter: brightness(0) invert(1);
    }

    &-links {
      display: flex;
      justify-content: space-between;
    }

    &-link {
      display: inline-block;
      font-size: 30px;
      color: abstracts.$gray-50;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: abstracts.$orange-600;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.975rem;

    &-link {
      color: abstracts.$gray-50;
      display: inline-block;
      margin-block: 0.625rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: abstracts.$orange-600;
      }
    }
  }

  &__mail {
    margin: 0.975rem auto;

    &-input {
      padding: 0.975rem 1.75rem;
      border-radius: 1.925rem;
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: abstracts.$medium-font-weight;

      &:focus {
        outline: 2px solid abstracts.$orange-600;
      }
    }

    &-btn {
      @include abstracts.regular-btn;
    }

    &-error {
      margin-block-start: 0.5rem;
      color: abstracts.$orange-400;
      font-style: italic;
      font-weight: abstracts.$medium-font-weight;
    }
  }

  &__copyright {
    color: abstracts.$gray-70;
    text-align: center;
    font-size: 0.975rem;
  }
}
