@use "../abstracts";

.main {
  &__testimonials {
    padding: 1.975rem;
    margin-block-end: 3.75rem;
    margin: 0 auto;
    position: relative;

    &-title {
      color: abstracts.$blue-950;
      font-size: 1.75rem;
      text-align: center;
      margin-block-end: 4.75rem;
    }
  }

  &__testimonial-cards {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-block-start: 1.5625rem;
  }

  &__testimonial-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-block: 16px;
  }

  &__testimonial {
    position: relative;
    margin-block-end: 2.5rem;
    background-color: abstracts.$gray-50;
    padding: 0.975rem;
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-img {
      width: 50px;
      position: absolute;
      top: -20px;
      left: 50%;
      translate: -50%;
    }

    &-name,
    &-description {
      text-align: center;
    }

    &-name {
      color: abstracts.$blue-950;
      font-weight: abstracts.$bold-font-weight;
      margin-block: 2.5rem 1.875rem;
    }

    &-description {
      color: abstracts.$gray-70;
      line-height: 1.5;
    }

    &-btn {
      @include abstracts.regular-btn;
      display: block;
      margin: 0 auto;
    }
  }
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid abstracts.$orange-600;
  cursor: pointer;
  transition: background-color 0.3s;

  &.active {
    background-color: abstracts.$orange-600;
  }
}
